<%- include('header'); -%> 
<div class="content">
    <h1 id="username">Enter username</h1> 
        <input id="username"></input>
    <h2 id="password">Enter password</h2> 
        <input id="password"></input>
    <h3 id="name">Enter name</h3> 
        <input id="name"></input>
    <h4 id="phone">Enter phone number</h4> 
        <input id="phone"></input>
    <h5 id="address">Enter address</h5> 
        <input id="address"></input>
    <input type="Submit">
</div>
<%- include('footer'); -%>